<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div>
    <div class="body">
      <div class="timeline">
        <div class="main">
          <h3 class="timeline_essence_item_headtext">Lundi<%=a%></h3>
        </div>  
        <div class="content">
          <div class="information">
            Don't have school this day ... 
          </div>
          <div class="timeline_item active_timeline">
            <i class="bullet active_bullet"></i>
            <a class="timeline_essence">
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> Studing times</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> last remind</h3>
                <p>Lorem Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <div class="btn-primary" onclick="show_modal()">More</div>              
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> actions btns</h3>
                <p class="btn-primary">Add notes</p>
                <p class="btn-primary">finished</p>
                <p>times left : <em> 1h 23min 39s</em> </p>
                
                
              </div>
            </a>
          </div>
          <div class="timeline_item">
            <i class="bullet"></i>
            <a class="timeline_essence">
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 1</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 2</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 3</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
            </a>
          </div>
          <div class="timeline_item">
            <i class="bullet"></i>
            <a class="timeline_essence">
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 1</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 2</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 3</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
            </a>
          </div>
          <div class="timeline_item">
            <i class="bullet"></i>
            <a class="timeline_essence">
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 1</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 2</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
              <div class="timeline_essence_item">
                <h3 class="timeline_essence_item_headtext"> I'm a title 3</h3>
                <p>blablablablabla</p>
                <p>blablablablabla</p>
              
                <em> 7h - 10h</em>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="timeline">
        <div class="main">
          Mardi
        </div>  
        <div class="content">
          <div class="information">
            information
          </div>
          <div class="timeline_item">
            <span>blablablablabla</span>
            <i class="bullet"></i>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="ligthbox">
    <div class="ligthbox_content">
      <div class="ligthbox_header">
        <span class="ligthbox_header_text">
          je suis une ligthbox
        </span>
        <span class="ligthbox_header_close" onclick="hide_modal()">
          x
        </span>
      </div>
    </div>
  </div>
<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>